VITE_API_BASE_URL= pos la base de la api diagonal ei pi ai
VITE_CLIENTS_PORTAL_URL= URL del portal de clientes (ej. http://localhost:5181/)

VITE_EMPLOYEES_PORTAL_URL= URL del portal de empleados (ej. http://localhost:5182/)
